@model TicTacToeWebApp.Models.GameViewModel

<table class="table table-bordered">
    <tr>
        <td class="bg-primary">
            Player Name
        </td>
        <td class="bg-primary">
            Symbol
        </td>
        <td class="bg-primary">
            Number of Wins
        </td>
    </tr>
    <tr>
        <td>
            <b class="text-info">@Html.DisplayFor(model => Model.Player1.Name)</b>
        </td>
        <td>
            <b class="text-info">@Html.DisplayFor(model => Model.Player1.Symbol)</b>
        </td>
        <td>
            <b class="text-info">@Html.DisplayFor(model => Model.Player1.NumOfWins)</b>
        </td>
    </tr>
    <tr>
        <td>
            <b class="text-info">@Html.DisplayFor(model => Model.Player2.Name)</b>
        </td>
        <td>
            <b class="text-info">@Html.DisplayFor(model => Model.Player2.Symbol)</b>
        </td>
        <td>
            <b class="text-info">@Html.DisplayFor(model => Model.Player2.NumOfWins)</b>
        </td>
    </tr>
</table>
@Ajax.ActionLink("Reset", "Reset", null , new AjaxOptions { UpdateTargetId = "game"},
new { @class = "btn-primary btn-lg text-size-lg btn-block text-center col-md-12", @style = "text-decoration:none;" })
<div class="col-md-offset-4 col-md-4"><h3><b>@ViewBag.Message</b></h3></div>

<table class="table table-bordered col-md-offset-4 col-md-4 my-table">
    <tr>
        <td class="my-td btn-primary">
            @Ajax.ActionLink(Model.Board[0].ToString(), "Game",
           new { id = 0, firstPlayerName = Model.Player1.Name, secondPlayerName = Model.Player2.Name },
           new AjaxOptions { UpdateTargetId = "game" },
           new { @class = "btn-primary btn-lg text-size-lg btn-block text-center", @style = "text-decoration:none;" })
        </td>
        <td class="my-td btn-primary">
            @Ajax.ActionLink(Model.Board[1].ToString(), "Game",
           new { id = 1, firstPlayerName = Model.Player1.Name, secondPlayerName = Model.Player2.Name },
           new AjaxOptions { UpdateTargetId = "game" },
           new { @class = "btn-primary btn-lg text-size-lg btn-block text-center", @style = "text-decoration:none;" })
        </td>
        <td class="my-td btn-primary">
            @Ajax.ActionLink(Model.Board[2].ToString(), "Game",
           new { id = 2, firstPlayerName = Model.Player1.Name, secondPlayerName = Model.Player2.Name },
           new AjaxOptions { UpdateTargetId = "game" },
           new { @class = "btn-primary btn-lg text-size-lg btn-block text-center", @style = "text-decoration:none;" })
        </td>
    </tr>
    <tr>
        <td class="my-td btn-primary">
            @Ajax.ActionLink(Model.Board[3].ToString(), "Game",
           new { id = 3, firstPlayerName = Model.Player1.Name, secondPlayerName = Model.Player2.Name },
           new AjaxOptions { UpdateTargetId = "game" },
           new { @class = "btn-primary btn-lg text-size-lg btn-block text-center", @style = "text-decoration:none;" })
        </td>
        <td class="my-td btn-primary">
            @Ajax.ActionLink(Model.Board[4].ToString(), "Game",
           new { id = 4, firstPlayerName = Model.Player1.Name, secondPlayerName = Model.Player2.Name },
           new AjaxOptions { UpdateTargetId = "game" },
           new { @class = "btn-primary btn-lg text-size-lg btn-block text-center", @style = "text-decoration:none;" })
        </td>
        <td class="my-td btn-primary">
            @Ajax.ActionLink(Model.Board[5].ToString(), "Game",
           new { id = 5, firstPlayerName = Model.Player1.Name, secondPlayerName = Model.Player2.Name },
           new AjaxOptions { UpdateTargetId = "game" },
           new { @class = "btn-primary btn-lg text-size-lg btn-block text-center", @style = "text-decoration:none;" })
        </td>
    </tr>
    <tr>
        <td class="my-td btn-primary">
            @Ajax.ActionLink(Model.Board[6].ToString(), "Game",
           new { id = 6, firstPlayerName = Model.Player1.Name, secondPlayerName = Model.Player2.Name },
           new AjaxOptions { UpdateTargetId = "game" },
           new { @class = "btn-primary btn-lg text-size-lg btn-block text-center", @style = "text-decoration:none;" })
        </td>
        <td class="my-td btn-primary">
            @Ajax.ActionLink(Model.Board[7].ToString(), "Game",
           new { id = 7, firstPlayerName = Model.Player1.Name, secondPlayerName = Model.Player2.Name },
           new AjaxOptions { UpdateTargetId = "game" },
           new { @class = "btn-primary btn-lg text-size-lg btn-block text-center", @style = "text-decoration:none;" })
        </td>
        <td class="my-td btn-primary">
            @Ajax.ActionLink(Model.Board[8].ToString(), "Game",
           new { id = 8, firstPlayerName = Model.Player1.Name, secondPlayerName = Model.Player2.Name },
           new AjaxOptions { UpdateTargetId = "game" },
           new { @class = "btn-primary btn-lg text-size-lg btn-block text-center", @style = "text-decoration:none;" })
        </td>
    </tr>
</table>

